In [ ]:
# Import modules only req.
# Delete unused modules (incl. only-from-module)

In [5]:
import pandas as pd
import numpy as np
import os
import math as m
# import sklearn

In [7]:
respath = os.path.join(os.getcwd(), "..", "data", "csv", "responses-4.csv")
responses = pd.read_csv(respath)
responses

,#,"So, *which department* were you working in?",And what was your *job title*?,When did you *start* working here?,"Alright, and your final day is on…",Who was* your manager*?,Not satisfied with supervisor,Office politics,Pay,Need to relocate,...,Perks,And do you have some suggestions for us to improve in this area?,"OK, last question.\n\nWould you *recommend working here* to people you know?",Ouch. What's the *main reason* for this?,Great! And *what would you tell your friend* about us?,Score,Start Date (UTC),Submit Date (UTC),Network ID,Tags
0,3okc8wdqtvksbiwp733okc8e1zg33nkp,Marketing,BAE,2023-01-01T00:00:00.000Z,2023-01-31T00:00:00.000Z,Raaju,Not satisfied with supervisor,Office politics,Pay,Need to relocate,...,1,Everything!,0,Y’all suck balls,NaN,13.0,2023-01-08 12:20:57,2023-01-08 12:24:23,dd2c610ac9,NaN
1,9c3s80gtoiyaxwsnor6h9c3s801eqf6n,Creative,des,2022-11-26T00:00:00.000Z,2023-07-31T00:00:00.000Z,raaj,NaN,NaN,NaN,NaN,...,3,NaN,1,NaN,NaN,32.0,2023-01-08 04:31:25,2023-01-08 04:34:36,b67870aa9b,NaN
2,mxtzv7i6r0ryfwkow8dmxtzecas3ekyl,Product,DOT,2022-12-31T00:00:00.000Z,2023-03-13T00:00:00.000Z,Alex,NaN,NaN,NaN,NaN,...,2,NaN,1,NaN,NaN,29.0,2023-01-07 22:25:06,2023-01-07 22:29:18,3e816fc9b6,NaN